.button {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.center {
  text-align: center;
}
